@import 'variables';

body {
    background-image: url(/img/pattern.png);
    background-attachment: fixed;

    .no-underline {
        text-decoration: none !important;
    }
}

.sub-container {
    max-width: 349px;
    justify-content: center;
}

.meeTheTeam {
    margin: 0 auto;
    width: 400px;
    flex-direction: row;
}

@import 'components/tabs/tabs.less';
@import 'components/cards/cards.less';
@import 'components/nav/nav.less';