.card {


    .card-body {
        width: 100%;
        min-width: 349px;
        color: @text-color;
        background: @primary-color;

        h1 {
            padding-top: 116px;
        }

        h4 {
            text-align: right;

            a {
                color: @text-color;
                font-weight: normal;
                font-size: 1.1rem;
            }
        }

        .btn {
            background: @text-color;
            color: @primary-color;
            border-radius: 10px;
        }
    }
}