.card {
    width: 100%;
    background: @primary-color;
    min-width: 349px;

    .card-body {
        color: @text-color;

        h1 {
            padding-top: 116px;
        }

        h4 {
            text-align: right;

            a {
                color: @text-color;
                font-weight: normal;
                font-size: 1.1rem;
            }
        }

        .btn {
            background: @text-color;
            color: @primary-color;
            border-radius: 10px;
        }
    }
}